name: hackrx-6.0

services:
  python:
    build: ./
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./.env:/app/.env
      - ./document_data:/app/document_data
      - ./requests.log:/app/requests.log
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis/redis-stack-server:latest
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  redis_data:
    driver: local
  document_data:
    driver: local